<app-onlineusers>



</app-onlineusers>
<mat-card class="col-sm-9 welcome">
    <h2>Welcome OleDonny</h2>
    <p>Send out your first Chirp!</p>
</mat-card>
<chirp-form></chirp-form>





<mat-card class="chirp_box col-sm-12">
    <mat-card-title>Start Building your Tree House</mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password">
        </mat-form-field>
        <mat-form-field>
            <input matInput color="white" placeholder="Group">
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions><button mat-fab color="green">Submit</button></mat-card-actions>
</mat-card>