*{
    box-sizing: border-box;
}

h2{
    text-align: center;
    position: relative;
    right:2em;
}

.info_chirp{
    color: white;
    width: 26em;
    background-color: #6C836C;
    margin: 0 auto;
    margin-bottom:1em; 
  
}

