
body{
    height: 100vh;
    background-color: #81C784;
    
}


mat-card{
    position: fixed;
    z-index: 1;
    opacity: .6;
    top: 5em;
    right:0;
    
    
}

mat-card:hover{
    
    opacity: 1;
}

.banner{
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 6em;
    margin-top:0;
}

img{
   padding-top:1em;
    height: 30em;
    position: relative;
    margin-bottom:0;
}

.signup{
    text-align: center;
}

.signin{
    margin-top:3em;
}