<body>
  <div class="col-sm-4">
  <mat-card>
    <mat-card-title>Sign In</mat-card-title>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Password" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">Password</span>
      </div>
      
    </mat-card>
  </div>
</body>