
.body{
    width: auto;
    height: 100%;
    background-color: grey;
}


mat-card{
    position: fixed;

    opacity: .6;
    
    
}

mat-card:hover{
    
    opacity: 1;
}

.banner{
    font-family: 'VT323', monospace;
    position: relative;
    left:3em;
    font-size: 6em;
}

img{
   
    height: 30em;
    position: relative;
    left:38em;
    top:8em;
}