
   <div class="row">
     <div class="container">
   <mat-toolbar color="primary">
      <h3>Treehouse</h3>
        <div class="col-sm-12 input-box">
          <mat-form-field>
              <input matInput>
            </mat-form-field>
            <button mat-button>Search</button>
          </div>
      </mat-toolbar>
    </div>
    </div>
    

  


  <div class="row">
      <div class="container">
        <mat-card class="user-list col-sm-3">
          <mat-list>
              <h1>In the Tree</h1>
              <mat-list-item *ngFor="let random of randoms">
                <p matLine> {{random.username}} </p>
              </mat-list-item>
            </mat-list>
            </mat-card>
            <mat-card class="col-sm-9 welcome">
              <h2>Welcome OleDonny</h2>
              <p>Send out your first Chirp!</p>  
             </mat-card>
         <mat-card class="col-sm-9">
            <mat-card-title>Chirp to the Treehouse</mat-card-title>
            <mat-card-content>
              <mat-form-field class="chirp-text">
                <textarea matInput placeholder="Chirp.. Chirp...."></textarea>
              </mat-form-field>
              <button mat-raised-button color="warm" >Chirp</button>
            </mat-card-content>
        </mat-card> 
       </div>
      </div> 

            <mat-card class="chirp_box col-sm-12">
                <mat-card-title>Join us and Start chirping</mat-card-title>
                <mat-card-content>
                  <mat-form-field>
                    <input matInput placeholder="Username">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Password">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="Group">
                  </mat-form-field>
                </mat-card-content>
                <mat-card-actions><button mat-fab>Submit</button></mat-card-actions>
              </mat-card>
            
      

   
 
